In [7]:
import pandas as pd
import numpy as np

In [8]:
# Loading the data
df = pd.read_csv("train_df.csv")

# Fraudes par ville avec population

In [9]:
city_stats = (
    df.groupby("city")
    .agg(
        nb_fraud=("is_fraud", "sum"),
        nb_tx=("is_fraud", "count"),
        city_pop=("city_pop", "mean")
    )
)

city_stats["fraud_rate"] = city_stats["nb_fraud"] / city_stats["nb_tx"] * 100

city_stats.sort_values("fraud_rate", ascending=False).head(60)

                nb_fraud  nb_tx   city_pop  fraud_rate
city
Irvington              8      8     7322.0  100.000000
Isanti                10     10    12568.0  100.000000
La Grande             12     12    16955.0  100.000000
Wartburg              11     11     7511.0  100.000000
Vacaville              7      7    99475.0  100.000000
Waukau                10     10      149.0  100.000000
Angwin                10     10     3661.0  100.000000
Hubbell               19     19      121.0  100.000000
Lockhart               9      9    17081.0  100.000000
Las Vegas              8      8  1417793.0  100.000000
Marshall              10     10     6063.0  100.000000
Madisonville          11     11    10150.0  100.000000
Medford                9      9    28506.0  100.000000
Beacon                11     11    19880.0  100.000000
Melville              15     15    19803.0  100.000000
Greenport             10     10     4299.0  100.000000
Mineral               12     12     9141.0  100.000000
Grenola                9      9      372.0  100.000000
Wappapello             8      8     2601.0  100.000000
Walkertown            11     11     7369.0  100.000000
West Frankfort        13     13    12626.0  100.000000
Karns City             7      7     1888.0  100.000000
Winnsboro             11     11    14267.0  100.000000
Kaktovik              12     12      239.0  100.000000
Bruce                  7      7     4046.0  100.000000
Morven                 8      8     2801.0  100.000000
Gaines                 8      8     3764.0  100.000000
Moss Point            10     10    31702.0  100.000000
Mountain City         10     10    13021.0  100.000000
Nanuet                10     10    23045.0  100.000000
Mount Vernon          11     11    67100.0  100.000000
Granbury              12     12    47119.0  100.000000
Nicholson              9      9     3733.0  100.000000
Noblesville            8      8    64438.0  100.000000
Norfolk                7      7   242803.0  100.000000
Freeport               9      9     7879.0  100.000000
Streator               7      7    20133.0  100.000000
Brookfield             9      9    41111.0  100.000000
Downey                10     10   111772.0  100.000000
East China             9      9     7339.0  100.000000
North East             9      9    12478.0  100.000000
Orange Park           10     10    98816.0  100.000000
Oakton                 9      9    17558.0  100.000000
Roland                11     11     2623.0  100.000000
Ridge Spring          10     10     3164.0  100.000000
Claypool               7      7     3631.0  100.000000
Clinton               12     12    10085.0  100.000000
Queen Anne            13     13      777.0  100.000000
Pleasant Hill          8      8    12866.0  100.000000
Coulee Dam            15     15     1439.0  100.000000
Phelps                11     11     4431.0  100.000000
Crouse                 8      8     2749.0  100.000000
Ashland               10     10    40470.0  100.000000
Chattanooga            7      7   198659.0  100.000000
Seattle               10     10   837792.0  100.000000
Buellton               8      8     5505.0  100.000000
Byesville             12     12     4984.0  100.000000
Clarion                9      9    10127.0  100.000000
Aurora                23    512   389246.0    4.492188
Clearwater            24    553   172247.0    4.339964

In [10]:
city_stats[city_stats["nb_tx"] > 50].sort_values("fraud_rate", ascending=False).head(20)

                       nb_fraud  nb_tx      city_pop  fraud_rate
city
Aurora                       23    512  389246.00000    4.492188
Clearwater                   24    553  172247.00000    4.339964
Benton                       17    530    1386.69434    3.207547
Moscow                       16    516     533.00000    3.100775
Boulder                      15    493    1939.00000    3.042596
Howes Cave                   15    504    1304.00000    2.976190
Riverview                    15    504   15623.00000    2.976190
Girard                       15    514    1100.00000    2.918288
White Sulphur Springs        15    529    5216.00000    2.835539
Pearlington                  15    529    1414.00000    2.835539
Moriches                     14    502    3285.00000    2.788845
Rock Glen                    14    505     143.00000    2.772277
Mc Clellandtown              14    510    2379.00000    2.745098
Providence                   15    550  203571.00000    2.727273
Sardis                       14    521     800.00000    2.687140
Monitor                      14    524     584.00000    2.671756
Saint Francis                14    525     301.00000    2.666667
Burns Flat                   14    528    2142.00000    2.651515
New Memphis                  14    533     254.00000    2.626642
Old Hickory                  14    537   22191.00000    2.607076

## Pearson (corrélation linéaire)

In [11]:
from scipy.stats import pearsonr

city_stats_filtered = city_stats[city_stats["nb_tx"] > 50]  # éviter le bruit
corr_pearson, p_value = pearsonr(city_stats_filtered["city_pop"], city_stats_filtered["fraud_rate"])
print(f"Pearson r = {corr_pearson:.3f}, p-value = {p_value:.3f}")

Pearson r = 0.014, p-value = 0.690

## Spearman (corrélation monotone, pas seulement linéaire)

In [12]:
from scipy.stats import spearmanr

corr_spearman, p_value_s = spearmanr(city_stats_filtered["city_pop"], city_stats_filtered["fraud_rate"])
print(f"Spearman rho = {corr_spearman:.3f}, p-value = {p_value_s:.3f}")

Spearman rho = -0.058, p-value = 0.096