In [4]:
import pandas as pd
import numpy as np

In [5]:
load_path = "../../data/fraudTrain.csv"

# Loading the data
df = pd.read_csv(load_path)

In [6]:

# Loading the data
df = pd.read_csv(load_path)

# Drop the column named 'Unnamed: 0' (unnecessary index column)
df = df.drop(columns=['Unnamed: 0'])

# Convert date/time columns
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], errors='coerce')
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')

# Keep IDs as string/object
df['cc_num'] = df['cc_num'].astype(str)
df['trans_num'] = df['trans_num'].astype(str)

# Convert categorical/text columns
categorical_cols = ['merchant', 'category', 'first', 'last', 'gender', 
                    'street', 'city', 'state', 'zip', 'job']
for col in categorical_cols:
    df[col] = df[col].astype('category')

# Convert to Unix timestamp (in seconds)
df['unix_trans_time'] = df['trans_date_trans_time'].astype('int64') // 10**9
df['age'] = (df['trans_date_trans_time'] - df['dob']).dt.days / 365.25 # account for leap years

# Compute number of distinct categories per merchant
merchant_category_counts = df.groupby("merchant")["category"].transform("nunique")
# Add it as a new column
df["nb_categories"] = merchant_category_counts

print(df.dtypes)

trans_date_trans_time    datetime64[ns]
cc_num                           object
merchant                       category
category                       category
amt                             float64
first                          category
last                           category
gender                         category
street                         category
city                           category
state                          category
zip                            category
lat                             float64
long                            float64
city_pop                          int64
job                            category
dob                      datetime64[ns]
trans_num                        object
unix_time                         int64
merch_lat                       float64
merch_long                      float64
is_fraud                          int64
unix_trans_time                   int64
age                             float64
nb_categories                     int64
dtype: object

/tmp/ipykernel_32956/247072500.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  merchant_category_counts = df.groupby("merchant")["category"].transform("nunique")

In [7]:
# Create numeric IDs for graph nodes (cards, merchants, transactions)

# treat each unique card number as a category
card_ids = df["cc_num"].astype("category").cat.codes
# Add a new column card_id
df["card_id"] = card_ids

# treat each unique merchant as a category
merchant_ids = df["merchant"].astype("category").cat.codes
# Add a new column merchant_id
df["merchant_id"] = merchant_ids

# Each row is one transaction
df["transaction_id"] = range(len(df))

In [ ]:
# Fenêtre temporelle par défaut (en secondes) pour les premières transactions
FEATURE_WINDOW = 3600

# ----------------------------------------------------
# Encodage des variables catégorielles
# ----------------------------------------------------
df["category_idx"] = df["category"].astype("category").cat.codes
df["gender_idx"] = df["gender"].astype("category").cat.codes
df["job_idx"] = df["job"].astype("category").cat.codes

# ----------------------------------------------------
# Features temporelles
# ----------------------------------------------------
df["hour"] = df["trans_date_trans_time"].dt.hour
df["dayofweek"] = df["trans_date_trans_time"].dt.dayofweek
df["is_weekend"] = df["dayofweek"].isin([5, 6]).astype(int)

# ----------------------------------------------------
# Tri global pour toutes les features historiques
# ----------------------------------------------------
df = df.sort_values(["card_id", "unix_trans_time"]).reset_index(drop=True)

# ----------------------------------------------------
# Jump de temps depuis la transaction précédente
# ----------------------------------------------------
df["card_time_since_prev_tx"] = (
    df.groupby("card_id")["unix_trans_time"].diff().fillna(FEATURE_WINDOW)
)
# Optionnel : log-transform pour stabiliser les grandes valeurs
df["card_time_since_prev_tx_log"] = np.log1p(df["card_time_since_prev_tx"])

# ----------------------------------------------------
# Montant historique de la carte
# ----------------------------------------------------
df["card_amt_mean"] = (
    df.groupby("card_id")["amt"].expanding().mean().shift().reset_index(level=0, drop=True)
).fillna(0)

df["card_amt_std"] = (
    df.groupby("card_id")["amt"].expanding().std().shift().reset_index(level=0, drop=True)
).fillna(0)

df["card_amt_max"] = (
    df.groupby("card_id")["amt"].expanding().max().shift().reset_index(level=0, drop=True)
).fillna(0)

df["card_amt_min"] = (
    df.groupby("card_id")["amt"].expanding().min().shift().reset_index(level=0, drop=True)
).fillna(0)

# Écarts au max/min historique
df["amt_minus_prev_max"] = df["amt"] - df["card_amt_max"]
df["amt_minus_prev_min"] = df["amt"] - df["card_amt_min"]

# ----------------------------------------------------
# Z-score du montant
# ----------------------------------------------------
MIN_TX = 2
df["card_tx_count"] = df.groupby("card_id").cumcount()
df["amt_zscore"] = np.where(
    df["card_tx_count"] < MIN_TX,
    0,
    (df["amt"] - df["card_amt_mean"]) / (df["card_amt_std"] + 1e-6)
)

# ----------------------------------------------------
# Distances géographiques
# ----------------------------------------------------
def haversine_np(lat1, lon1, lat2, lon2):
    R = 6371.0  # rayon Terre en km
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0)**2
    return 2 * R * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

# Coordonnées du marchand précédent
df["prev_merch_lat"] = df.groupby("card_id")["merch_lat"].shift()
df["prev_merch_long"] = df.groupby("card_id")["merch_long"].shift()

# Distance à la transaction précédente
df["dist_from_prev_tx"] = haversine_np(
    df["merch_lat"], df["merch_long"],
    df["prev_merch_lat"], df["prev_merch_long"]
).fillna(0)

# Distance par rapport à l'adresse du propriétaire
df["dist_from_home"] = haversine_np(
    df["merch_lat"], df["merch_long"],
    df["lat"], df["long"]
)

# ----------------------------------------------------
# Merchant features
# ----------------------------------------------------
# Nouveau merchant pour la carte
df["is_new_merchant"] = df.groupby("card_id")["merchant"].transform(lambda x: ~x.duplicated()).astype(int)

# ----------------------------------------------------
# Création d'un DataFrame dédié aux features merchant
# ----------------------------------------------------
df_merchant = (
    df[["transaction_id", "merchant_id", "unix_trans_time", "amt"]]
    # Tri indispensable pour garantir la cohérence temporelle
    .sort_values(["merchant_id", "unix_trans_time"])
    .reset_index(drop=True)
)

# ----------------------------------------------------
# Temps écoulé depuis la transaction précédente
# chez le même merchant
# ----------------------------------------------------
df_merchant["merchant_time_since_prev_tx"] = (
    df_merchant
    .groupby("merchant_id")["unix_trans_time"]
    .diff()
    .fillna(FEATURE_WINDOW)
)

# ----------------------------------------------------
# Montant moyen historique du merchant (jusqu'à t-1)
# ----------------------------------------------------
df_merchant["merchant_avg_amt"] = (
    df_merchant
    .groupby("merchant_id")["amt"]
    .expanding()
    .mean()
    .shift()
    .reset_index(level=0, drop=True)
    .fillna(0)
)

# ----------------------------------------------------
# Jointure avec le DataFrame principal
# ----------------------------------------------------
df = df.merge(
    df_merchant[
        ["transaction_id", "merchant_time_since_prev_tx", "merchant_avg_amt"]
    ],
    on="transaction_id",
    how="left"
)

# Fraudes par ville avec population

In [9]:
city_stats = (
    df.groupby("city")
    .agg(
        nb_fraud=("is_fraud", "sum"),
        nb_tx=("is_fraud", "count"),
        city_pop=("city_pop", "mean")
    )
)

city_stats["fraud_rate"] = city_stats["nb_fraud"] / city_stats["nb_tx"] * 100

city_stats.sort_values("fraud_rate", ascending=False).head(60)

/tmp/ipykernel_32956/2206575677.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("city")

                nb_fraud  nb_tx   city_pop  fraud_rate
city
Irvington              8      8     7322.0  100.000000
Isanti                10     10    12568.0  100.000000
La Grande             12     12    16955.0  100.000000
Wartburg              11     11     7511.0  100.000000
Vacaville              7      7    99475.0  100.000000
Waukau                10     10      149.0  100.000000
Angwin                10     10     3661.0  100.000000
Hubbell               19     19      121.0  100.000000
Lockhart               9      9    17081.0  100.000000
Las Vegas              8      8  1417793.0  100.000000
Marshall              10     10     6063.0  100.000000
Madisonville          11     11    10150.0  100.000000
Medford                9      9    28506.0  100.000000
Beacon                11     11    19880.0  100.000000
Melville              15     15    19803.0  100.000000
Greenport             10     10     4299.0  100.000000
Mineral               12     12     9141.0  100.000000
Grenola                9      9      372.0  100.000000
Wappapello             8      8     2601.0  100.000000
Walkertown            11     11     7369.0  100.000000
West Frankfort        13     13    12626.0  100.000000
Karns City             7      7     1888.0  100.000000
Winnsboro             11     11    14267.0  100.000000
Kaktovik              12     12      239.0  100.000000
Bruce                  7      7     4046.0  100.000000
Morven                 8      8     2801.0  100.000000
Gaines                 8      8     3764.0  100.000000
Moss Point            10     10    31702.0  100.000000
Mountain City         10     10    13021.0  100.000000
Nanuet                10     10    23045.0  100.000000
Mount Vernon          11     11    67100.0  100.000000
Granbury              12     12    47119.0  100.000000
Nicholson              9      9     3733.0  100.000000
Noblesville            8      8    64438.0  100.000000
Norfolk                7      7   242803.0  100.000000
Freeport               9      9     7879.0  100.000000
Streator               7      7    20133.0  100.000000
Brookfield             9      9    41111.0  100.000000
Downey                10     10   111772.0  100.000000
East China             9      9     7339.0  100.000000
North East             9      9    12478.0  100.000000
Orange Park           10     10    98816.0  100.000000
Oakton                 9      9    17558.0  100.000000
Roland                11     11     2623.0  100.000000
Ridge Spring          10     10     3164.0  100.000000
Claypool               7      7     3631.0  100.000000
Clinton               12     12    10085.0  100.000000
Queen Anne            13     13      777.0  100.000000
Pleasant Hill          8      8    12866.0  100.000000
Coulee Dam            15     15     1439.0  100.000000
Phelps                11     11     4431.0  100.000000
Crouse                 8      8     2749.0  100.000000
Ashland               10     10    40470.0  100.000000
Chattanooga            7      7   198659.0  100.000000
Seattle               10     10   837792.0  100.000000
Buellton               8      8     5505.0  100.000000
Byesville             12     12     4984.0  100.000000
Clarion                9      9    10127.0  100.000000
Aurora                23    512   389246.0    4.492188
Clearwater            24    553   172247.0    4.339964

In [10]:
city_stats[city_stats["nb_tx"] > 50].sort_values("fraud_rate", ascending=False).head(20)

                       nb_fraud  nb_tx      city_pop  fraud_rate
city
Aurora                       23    512  389246.00000    4.492188
Clearwater                   24    553  172247.00000    4.339964
Benton                       17    530    1386.69434    3.207547
Moscow                       16    516     533.00000    3.100775
Boulder                      15    493    1939.00000    3.042596
Howes Cave                   15    504    1304.00000    2.976190
Riverview                    15    504   15623.00000    2.976190
Girard                       15    514    1100.00000    2.918288
White Sulphur Springs        15    529    5216.00000    2.835539
Pearlington                  15    529    1414.00000    2.835539
Moriches                     14    502    3285.00000    2.788845
Rock Glen                    14    505     143.00000    2.772277
Mc Clellandtown              14    510    2379.00000    2.745098
Providence                   15    550  203571.00000    2.727273
Sardis                       14    521     800.00000    2.687140
Monitor                      14    524     584.00000    2.671756
Saint Francis                14    525     301.00000    2.666667
Burns Flat                   14    528    2142.00000    2.651515
New Memphis                  14    533     254.00000    2.626642
Old Hickory                  14    537   22191.00000    2.607076

## Pearson (corrélation linéaire)

In [11]:
from scipy.stats import pearsonr

city_stats_filtered = city_stats[city_stats["nb_tx"] > 50]  # éviter le bruit
corr_pearson, p_value = pearsonr(city_stats_filtered["city_pop"], city_stats_filtered["fraud_rate"])
print(f"Pearson r = {corr_pearson:.3f}, p-value = {p_value:.3f}")

Pearson r = 0.014, p-value = 0.690

## Spearman (corrélation monotone, pas seulement linéaire)

In [12]:
from scipy.stats import spearmanr

corr_spearman, p_value_s = spearmanr(city_stats_filtered["city_pop"], city_stats_filtered["fraud_rate"])
print(f"Spearman rho = {corr_spearman:.3f}, p-value = {p_value_s:.3f}")

Spearman rho = -0.058, p-value = 0.096